* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Sans-Serif, Arial;
	font-size: 14px;
	font-weight: 400;
	color: #444;
	line-height: 1.25;
	background: #eee;
}

input, select, textarea {
	width: 100% !important;
	height: 40px;
	border: 1px solid #ddd;
	border-radius: 0;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
}

input[type="checkbox"]{
  display: inline-block;
  width: 15px !important;
  height: 15px;
  vertical-align: middle;
  margin-left: 10px;
}

input[type="checkbox"]:checked + label{
  color: #444 !important;
}

.header {
	width: 100%;
	height: 500px;
	background: url(img/header.jpg);
	background-size: cover;
	background-position: center;
 }

fieldset {
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,.1);
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
}

label {
	display: block;
	font-size: 11px;
	font-weight: 600;
	color: #999;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.advanced-search-blocks label {
  display: inline-block;
  margin-bottom: 0;

}

ul {
  list-style: none;
}

.clear {
  clear: both;
}

legend {
  margin-bottom: 15px;
  font-family: Helvetica, Sans-Serif, Arial;
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
}

a.back-button {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	color: #222;
	text-decoration: none;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 20px;
}

#advanced-search {
	display: block;
	width: calc(100% + 40px);
	background: #fbfbfb;
	border-top: 1px solid #ddd;
	padding: 20px;
	margin-top: 20px;
	margin-left: -20px;
	margin-bottom: -20px;
}

.search-box {}
.search-box .on-the-same-row {
	display: inline-block;
	width: calc((100% - 72px) / 4);
	margin-right: 20px;
}

.search-box .on-the-same-row:nth-child(4) {
	margin-right: 0;
}

.search-box .button-broneering {
	float: right;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	background: #666;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 20px;
}

.search-box .button-broneering:hover {
	background-color: #111;
	color: #fff;
	transition: all 200ms ease;
}

@media all and (max-width: 750px) {

  .search-box .starting-point {
    width: calc(50% - 10px);
		float: left;
		padding-bottom: 10px;
  }

	.search-box .destination {
		width: calc(50% - 10px);
		float: right;
		margin-right: 0;
		padding-bottom: 10px;
	}

	.search-box .departure-day {
		width: calc(50% - 10px);
		float: left;
		padding-bottom: 10px;
	}

	.search-box .duration {
		width: calc(50% - 10px);
		float: right;
		margin-right: 0;
		padding-bottom: 10px;
	}

	.search-box .button-broneering {
		float: right;
	}
}

.search-box .advanced-search {
	float: left;
	cursor: pointer;
	height: 40px;
	line-height: 38px;
	background: #fff;
	text-transform: uppercase;
	font-weight: 500 !important;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
}

.search-box .advanced-search:hover {
	background: #666;
	color: #fff;
	transition: all 200ms ease;
}

.advanced-search-blocks:nth-child(2n) {
  margin-right: 0;
}

.advanced-search-blocks {
  display: inline-block;
  width: calc(50% - 12px);
  height: 250px;
  overflow:auto;
  background: #fff;
  border:  1px solid #ddd;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
	box-shadow: inset 0px -20px 20px rgba(0,0,0,.05);
}

.advanced-search-blocks li {
  border: 1px solid #ccc;
  line-height: 30px;
  margin-bottom: 2px;
  border-radius: 2px;
}

.advanced-search-blocks li:hover,
.advanced-search-blocks li.checked {
	background: #eee;
	transition: all 300ms ease;
}

@media all and (max-width: 750px) {

  .advanced-search-blocks {
    width: 100%;
    margin-right: 0;
  }
}

.results-list {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

@media all and (max-width: 750px) {

	.results-list {
		padding-left: 0;
		padding-right: 0;
	}

}

.results-list li {
	display: table;
	width: 100%;
	height: 100px;
	list-style: none;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}

.results-list li .result-image {
	display: block;
	float: left;
	width: 200px;
	height: 100px;
	overflow: hidden;
	margin-right: 20px;
}

@media all and (max-width: 750px) {

	.results-list li .result-image {
		width: 100%;
	}

}

.results-list li .result-image img {
	width: 100%;
	height: auto;
	min-height: 150px;
}

.results-list li .result-content {
	display: block;
	float: left;
	width: calc(100% - 300px);
}

@media all and (max-width: 750px) {

	.results-list li .result-content {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px
	}
}

.results-list li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	background: #111;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
	position: absolute;
	top: calc(50% - 20px);
	right: 20px;
}

@media all and (max-width: 750px) {

	.results-list li .button {
		position: inherit;
		margin-left: calc(25% + 40px);
	}
}

.header {
	text-align: center;
	color: #fff;
	position: relative;
}

.header:before {
	display: block;
	content: '';
	width: 100%;
	height: 500px;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
}

.header-title {
	position: relative;
	z-index: 500;
	padding-top: 175px;
}

.header-text {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	z-index: 500;
	position: relative;
	margin-top: 20px;
}
